nav {
background-color: #00a2c6;
padding: 10px;
}
nav a:hover{
background-color: rgba(76, 0, 255, 0.801);
color: white;
}
.jumbotron{
	font-size: 20px;
	padding: 60px;
	background-color: #00c8eb;
	text-align: center;
	color: black;
}
article{
	padding: 60px;
	background-color: green;
	text-align: left;
	color: black;
}
footer{
	background-color: #00a2c6;
	padding: 10px;
}

div {
	background-color: green;
	padding: 10px;
}